aiohttp
bcrypt
fastapi[standard]
langchain-community
langchain-openai
passlib
psycopg2-binary
pydantic[email]
python-dotenv
python-jose
python-multipart
requests
rich
sqlalchemy
websockets
pytz
boto3
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.111.0